<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flicks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C72EFA661E4703FD0097782D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C72EFA7A1E4703FE0097782D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C72EFA851E4703FE0097782D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
